<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Welcome to register Tinyapp</h1>
  <form action="/register" method="POST">
    <label for="email">Email:</label> 
    <input id="email" name="email" placeholder="email" style="width: 150px">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="password" style="width: 150px">
    <button>register</button>
  </form>
</body>
</html>