<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <a style="position: absolute; right:10px; font-size:20"  href="/register">Register</a>
    <a style="position: absolute; right:100px; font-size:20" href="/login">Log In</a>
  </header>
  
  <h1>Welcome to register Tinyapp</h1>
  <form action="/register" method="POST">
    <label for="email">Email:</label> 
    <input name="email" placeholder="email" style="width: 150px">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="password" style="width: 150px">
    <button>register</button>
  </form>
</body>
</html>